<%= render "shared/mini_nav",  user: @user %>

<% @tracks.each do |track| %>
  <%= render "shared/track_show", track: track %>
<% end %>

<!-- <a href="<%= user_url(current_user) %>">
     Back to Profile
</a> -->