<form class="new-track" action="<%= user_tracks_url(current_user) %>" method="post">
  <%= auth_token %>

  <label>
    Title
    <input class="input" type="text" name="track[title]">
  </label>

  <label>
    Artist
    <input class="input" type="text" name="track[artist]">
  </label>

  <input type="hidden" name="track[poster_id]" value="<%= current_user.id %>">

  <input class="submit" type="submit" value="Upload">
</form>
