<section class="notifications-content">

  <h1 class="title">Notifications</h1>

  <ul class="notifications">
    <% @notifications.each do |notification| %>
      <li>
        <a href="<%= notification.url %>"><%= notification.text %></a>
      </li>
    <% end %>
  </ul>

</section>