<form class="sign-up" action="<%= users_url %>" method="post">

  <%= auth_token %>

  <label>
    Email

    <input class="input" type="email" name="user[email]">
  </label>


  <label>
    Username

    <input class="input" type="text" name="user[username]">
  </label>


  <label>
    Password

    <input class="input" type="password" name="user[password]">
  </label>


  <label>
    First Name

    <input class="input" type="text" name="user[fname]">
  </label>


  <label>
    Last Name

    <input class="input" type="text" name="user[lname]">
  </label>


  <label>
    City

    <input class="input" type="text" name="user[city]">
  </label>


  <input class="submit" type="submit" value="Sign Up">
</form>
