<h3>Make a Comment</h3>
<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input
    type="hidden"
    name="comment[commentable_id]"
    value="<%= commentable_id %>">

  <input
    type="hidden"
    name="comment[commentable_type]"
    value="<%= commentable_type %>">

  <label>
    <textarea name="comment[body]"></textarea>
  </label>
  <br>

  <input type="submit" value="Comment">
</form>