<h3>Make a Comment</h3>
<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input
    type="hidden"
    name="comment[track_id]"
    value="<%= track_id %>">

  <label>
    <textarea name="comment[body]"></textarea>
  </label>

  <input class="submit" type="submit" value="Comment">
</form>