<% comments.each do |comment| %>
  <section class="comment group">
    <article class="comment-info">
      <p class="comment-setup">on </p>
      <h1 class="name"><%= comment.track.title %></h1>
    </article>


    <p class="comment-body">" <%= comment.body%> "</p>

    <% if comment.commenter == current_user %>
      <form action="<%= comment_url(comment) %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input class="submit" type="submit" value="&#xf014;">
      </form>
    <% end %>
  </section>
<% end %>