<% if (playlist.tracks().include(track)) { %>
   <section class="playlist-add group"> 
		<h1 class="playlist-title"><%= playlist.get("title") %></h1>
    <form class="playlist-action remove">
      <input class="submit" type="submit" value="Remove">
    </form>
	</section>
<% } else { %>
   <section class="playlist-add group"> 
		<h1 class="playlist-title"><%= playlist.get("title") %></h1>
    <form class="playlist-action remove">
      <input class="submit" type="submit" value="Add">
    </form>
	</section>
<% }; %>