<form class="new-playlist">
	<input type="hidden" name="playlist[track_ids][]" value="<%= track.id %>">
  <input type="hidden" name="playlist[creator]" value="<%= user %>">

  <label>
    Title
    <input class="input" type="text" name="playlist[title]">
  </label>

	<input class="submit" type="submit" value="New Playlist">
</form>