<section class="playlist">

  <article class="playlist-header">
    <article class="playlist-info">
      <a class="creator" href="#/api/users/<%= playlist.get("creator").id %>">
        <%= playlist.get("creator").username %>
      </a>
      <a class="playlist-title" href="#/api/playlists/<%= playlist.id %>">
        <%= playlist.escape("title") %>
      </a>
    </article>
  </article>


</section>
