// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  display: block;
  margin-left: 160px;
	margin-top: 10px;
  width: 600px;
}

.comment-setup {
  display: inline;
  font-size: 14px;
}

.comments-index {
	display: block;
	margin-left: 160px;
}

.comment-info {
  display: block;
	float: left;
  padding-bottom: 3px;
}

.comment .destroy {
	display: block;
	float: right;
}

.comment-box {
  width: 600px;
	margin: 10px 0 0 320px;
}

input[type="submit"] {
  font-family: "FontAwesome";
}

.comment .submit {
  display: inline-block;
  float: right;
  position: relative;
  margin: none;
  bottom: 25px;
}

